<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Admin</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="../../static/css/admin.css">
</head>
<body class="admin-body">

  <div class="module">
    <table class="table">
      <caption>ADMIN</caption>
      
      <tbody>
        <tr class="model-row">
          <th scope="row"><a href="#">Usuario</a></th>
          <td class="action-cell"><a href="#" class="addlink">Agregar</a></td>
          <td class="action-cell"><a href="#" class="changelink">Modificar</a></td>
        </tr>

        <tr class="model-row">
          <th scope="row"><a href="#">Características</a></th>
          <td class="action-cell"><a href="#" class="addlink">Agregar</a></td>
          <td class="action-cell"><a href="#" class="changelink">Modificar</a></td>
        </tr>

        <tr class="model-row">
          <th scope="row"><a href="#">Edificio</a></th>
          <td class="action-cell"><a href="#" class="addlink">Agregar</a></td>
          <td class="action-cell"><a href="#" class="changelink">Modificar</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>